.windowChat {
    width: 100%;
    // height: 100%;
    background: aliceblue;
    transition: 5000ms;

    &__header {
        height: 75px;
    }

    &__window {
        height: 100px;
        background: rgb(71, 138, 200);
        text-align: center;
    }

    &__enterText {
        width: 80%;
    }
}