.app {
    margin: 0 auto;
    // display: flex;
    // justify-content: space-between;
}


.container {
    margin: 0 auto;
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
}